.gridContainer {
  flex: 1;
  background: #F7F8F9;
  padding: 30px;


  position: fixed;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;

}

.grid {
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
